<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <p class="lead">{{ "application.reporting.no_current_project"|trans({}, "application") }}</p>
    </div>
</div>