{% if mime in ['image/bmp', 'image/png', 'image/gif', 'image/jpeg'] %}
    <img src='{{ filePath }}' class="img-thumbnail">
{% elseif mime == 'text/plain' %}
    <p class="text-truncate">
        {{ text }}
    </p>
{% elseif mime == null %}
    <p class="text-truncate">
        {{ "application.assessment.missing_file"|trans({},'application') }}
    </p>
{% else %}
    <p class="text-truncate">
        {{ "application.assessment.no_preview"|trans({},'application') }}
    </p>
{% endif %}
