<div class="d-flex" style="place-items: center;">
    <a class="float-left assignments-navbar" data-toggle='tooltip' data-html="true" title="{{ "application.nav.todos"|trans({number},'application') }}" href="{{ path('app_dashboard_index') }}">
        <span class="badge badge-pill badge-danger ml-1 mr-1">&nbsp;{{ number }}&nbsp;</span>
    </a>
</div>
