<!-- Footer -->
<div class="app-footer">
    <div class="app-footer__inner">
        <div class="app-footer-left">
            {{ render(controller('App\\Controller\\Application\\DashboardController::version')) }}
        </div>
        <div class="app-footer-right">
            Designed and powered by <a class="ml-1" target="blank" href="https://codific.com">Codific - Building a simple and safe digital future</a>
        </div>
    </div>
</div>
<!-- /footer -->