{% extends 'error_base.html.twig' %}

{% block body %}
    <div class="text-center mb-3 mt-5">
        <h1>Page not found</h1>
        <h5>The requested page couldn't be located. Checkout for any URL misspelling or <a href="{{ path('app_index') }}">return to the homepage</a>.</h5>
    </div>
{% endblock %}